<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <style>
      .container,
      #formContainer {
        padding-top: 2%;
        padding-bottom: 2%;
        align-self: center;
        background-color: lightblue;
        width: 40%;
      }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script>
      function filepicking() {
        document.getElementById(
          "labelFU"
        ).childNodes[0].data = document.getElementById("fileupload").value;
        console.log(document.getElementById("fileupload"));
      }
    </script>
    <title>Create Dcoument</title>
  </head>
  <body>
    <div class="container">
      <form
        action="/document/create"
        enctype="multipart/form-data"
        method="POST"
      >
        <div class="form-group">
          <label for="nameInput">Name</label>
          <input
            type="text"
            class="form-control"
            id="nameInput"
            name="name"
            placeholder="Name"
          />
        </div>
        <div class="form-group">
          <label for="contentInput">Content</label>
          <textarea
            class="form-control"
            name="content"
            id="contentInput"
            rows="5"
          ></textarea>
        </div>
        <br />
        <strong>OR</strong>
        <br />
        <div class="dropdown-divider"></div>
        <br />
        <div class="custom-file">
          <input
            class="custom-file-input"
            type="file"
            name="fileupload"
            value="fileupload"
            id="fileupload"
            accept=".pdf,.txt,.json,.csv,.lst,.conf,"
            onchange="filepicking()"
          />

          <label class="custom-file-label" for="fileupload" id="labelFU">
            Select a file to upload</label
          >
        </div>

        <br />
        <br />

        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
  </body>
</html>
